body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #d3390a;
  color: white;
  text-align: center;
  padding: 15px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

section {
  padding: 20px;
}

footer {
  background-color: #d3390a;
  color: white;
  text-align: center;
  padding: 10px;
}
